<template name="_header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'home'}}">Visual Analytics</a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
              </ul>
            </li>
          </ul>
        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-primary navbar-btn">Sign in</a>
          </div>
        {{/if}}

      </div>

    </div>
  </nav>

</template>
