<!--url-->
<template name="url">
    <div id="heading" class="h3">Enter URL</div>
    <div>
        <form>
            <div class="form-group">
                <div><label class="control-label">Specify url where the data can be obtained</label></div>
                <div>
                    <input type="url" class="form-control" id="inputData">
                </div>
            </div>
            <div class="form-group">
                <div><label class="control-label">Specify url where the metadata can be obtained.</label></div>
                <div>
                    <input type="url" class="form-control" id="inputMetadata">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</template>





<!--select-->
<template name="select">
    <div id="heading" class="h3">Select Outputs/Ignored</div>
    <form class="form-horizontal col-md-4">
        <div class="form-group form-group-lg">
            <label class="control-label">Prediction Type</label>
            <div class="radio">
                <div>
                    <label>
                        <input type="radio" name="optionsRadios" value="option1" checked>
                        Classification
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="optionsRadios" value="option2">
                        Reggression
                    </label>
                </div>
            </div>
        </div>
        <div id="features">
            <div class="form-group form-group-lg">
                <label>Ignored Features</label>
                <div>
                    <select class="select" data-placeholder="Select Ignored Features" multiple>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                        <option value="7">Option 7</option>
                        <option value="8">Option 8</option>
                        <option value="9">Option 9</option>
                        <option value="10">Option 10</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label>Output Feature</label>
                <div>
                    <select class="select" data-placeholder="Select Output Feature">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                        <option value="7">Option 7</option>
                        <option value="8">Option 8</option>
                        <option value="9">Option 9</option>
                        <option value="10">Option 10</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</template>





<!--algorithm parameters-->
<template name="parameters">
    <div id="heading" class="h3">Enter Algorithm Parameters</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1 control-label">Number</label>
            <div class="col-md-3">
                <input type="number" class="parameters" min="0" max="300">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">Number</label>
            <div class="col-md-3">
                <input type="number" class="parameters" min="0" max="300">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-md-1 control-label">Number</label>
            <div class="col-md-3">
                <input type="number" class="parameters" min="0" max="300">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-md-1 control-label">Number</label>
            <div class="col-md-3">
                <input type="number" class="parameters" min="0" max="300">
            </div>
        </div>
        <!--radio buttons-->
        <div class="form-group form-group-lg">
            <label class="col-md-1 control-label">Choose One</label>
            <div class="radio col-md-4">
                <div>
                <label>
                    <input type="radio" name="optionsRadios" value="option1" checked>
                    Option one
                </label>
                </div>

                <div>
                <label>
                    <input type="radio" name="optionsRadios" value="option2">
                    Option two
                </label>
                </div>

                <div>
                <label>
                    <input type="radio" name="optionsRadios" value="option2">
                    Option three
                </label>
                </div>

                <div>
                <label>
                    <input type="radio" name="optionsRadios" value="option2">
                    Option four
                </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-1 control-label">Notes</label>
            <div class="col-md-6">
                <textarea class="form-control" rows="4" placeholder="Extra Notes"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-2">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</template>





<!--review-->
<template name="review">
    <div id="heading" class="h3">Review Inputs</div>
    <div class="row">
        <form>
            <div class="form-group form-group-lg">
                <div class="col-md-2">
                    <button type="button" id="submit" data-loading-text="Submitting..." class="btn btn-primary" autocomplete="off">
                    Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>







<!--monitor-->
<template name="monitor">
    <div id="heading" class="h3">Job Monitor</div>
    <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Job Name</th>
            <th>Job Owner</th>
            <th>Date</th>
            <th>Status</th>
            <th>Sharing</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each items}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-default">
                    <span class="fa fa-trash"></span>
                </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</template>






<!--results-->
<template name="results">
    <div id="heading" class="h3">View Results</div>
    <div class="row">
        <form>
            <div class="form-group form-group-lg">
                <div class="col-md-2">
                    <button type="button" id="view" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                        View Logs
                    </button>
                </div>

                <div class="col-md-2">
                    <button type="button" id="copy" data-loading-text="Copying..." class="btn btn-primary" autocomplete="off">
                        Copy to Box
                    </button>
                </div>

                <div class="col-md-2">
                    <button type="button" id="error" data-loading-text="Reporting..." class="btn btn-primary" autocomplete="off">
                        Report errors
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>