/**for content to the right of the sidebar*/
#content{
    padding:0px 30px 30px 30px;
}

/**for url input*/
#inputData, #inputMeta{
    width:60%;
}

/**for the modals at the monitor*/
.modal{
    padding-top:15%;
}