#features{
    padding-top:20px;
}
#content{
    padding:0px 30px 30px 30px;
}

#inputData, #inputMetadata{
    width:60%;
}

p {
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: none;
    line-height: 40px;
}

.button:hover > p {
    display: block;
}