/**for content to the right of the sidebar*/
#content{
    padding:0px 30px 30px 30px;
}

/**for url input*/
.inputURL{
    width:60%;
}

/**for the modals at the monitor*/
.modal{
    padding-top:15%;
}

#view_details{
    padding-top: 0%;
}
#details_content{
    height: 100%;
    width: 95%;
}